<a href="/categories">View Categories</a>&nbsp;&nbsp;|&nbsp;
<a href="/exams">View Exams</a>

<div class="display">
<h1>Listing terms</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Definition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%= term.word %></td>
    <td><%= term.definition %></td>
    <td><%= link_to 'Show', term %></td>
    <td><%= link_to 'Edit', edit_term_path(term) %></td>
    <td><%= link_to 'Destroy', term, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br><br>

<%= link_to 'Add New Term', new_term_path %>
</div>
