<div class="form">
<h1>New term</h1>

<%= form_for(@term, :html => { :multipart => true }) do |f| %>
  <p>Word:<br>
  <%= f.text_field :word %></p>

  <p>Definition:<br>
  <%= f.text_area :definition %></p>

  <% for exam in Exam.all %>  
    <%= check_box_tag "term[exam_ids][]", exam.id, @term.exams.include?(exam) %>  
    <%= exam.name %>  
  <% end %><br><br>

  <%= f.submit "Add Term", :class => "btn" %>
<% end %>
<br><br>
<%= link_to 'All Terms', terms_path %>
</div>
