<div class="form">
<p id="notice"><%= notice %></p>

<h1><%=  @term.word %></h1>
<h3><%= @term.definition %></h3>
<h4>Exams</h4>

<% @term.exams.all.each do |e| %>
<%= e.name %><br>
<%end%><br><br>

<%= link_to 'Edit Term', edit_term_path(@term) %> |
<%= link_to 'All Terms', terms_path %>
</div>
