/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@charset "UTF-8";
/* Overall Document */
body{
    background-color:#f8f8f8;
    color:#000000;
    font-family:Helvetica, Arial, san-serif;
    font-size: 14px;
    padding:10px;
    overflow:hidden;
}

h1{color:#D1060D; font-family:Gerogia, Times, serif;padding:0; margin:0;}
h4.subtitle{padding:0; margin:0;}


a{text-decoration:none; color:#D1060D;}
a:link{color:#D1060D;}
a:visited{color:#D1060D;}
a:hover{color:#7F0909;}
a:active{color:#D1060D;}

table{border:solid 1px #000000;}
table th{padding:5px;}
table td{border:solid 1px #000000; padding:5px;min-width:50px;}

.btn {
  float:right;
  font-size:12px;
  line-height: 20px;
  color: #e3e3e3;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #D1060D;
  *background-color: #DF3A3F;
  background-image: -moz-linear-gradient(top, #f70C00, #D1060D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f70C00), to(#D1060D));
  background-image: -webkit-linear-gradient(top, #f70C00, #D1060D);
  background-image: -o-linear-gradient(top, #f70C00, #D1060D);
  background-image: linear-gradient(to bottom, #F70C00, #D1060D);
  background-repeat: repeat-x;
  border: 1px solid #D1060D;
  border-color: #D1060D #D1060D #F70C00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #7F0909;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70C00', endColorstr='#ffD1060D', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #000000;
}

.form{
    width:40%;
    height:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:50px;
    margin:0 auto;
}

.display{
    width:60%;
    height:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:50px;;
    margin:0 auto;
}
