<div class="form">
<h1>Editing category</h1>

<%= form_for(@category, :html => { :multipart => true }) do |f| %>
  <p>Category Name:<br>
  <%= f.text_field :name %></p>
  <% f.submit "Submit" %>
   <%= f.submit "Update Category", :class => "btn" %>
<% end %><br><br>

<%= link_to 'Show Category', @category %> |
<%= link_to 'All Categories', categories_path %>
</div>
