<a href="/exams">View Exams</a>&nbsp;&nbsp;|&nbsp;
<a href="/terms">View Terms</a>

<div class="display">
<h1>Listing categories</h1>

<table>
  <tr>
    <th>Category Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name  %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br><br>

<%= link_to 'Add New Category', new_category_path %>
</div>
