<div class="form">
<p id="notice"><%= notice %></p>

<h1><%=  @category.name %></h1>
<h4>Exams</h4>

<% @category.exams.all.each do |e| %>
<%= e.name %><br>
<%end%><br><br>


<%= link_to 'Edit Category', edit_category_path(@category) %> |
<%= link_to 'All Categories', categories_path %>
</div>
