<div class="form">
<h1>Editing exam</h1>

<%= form_for(@exam, :html => { :multipart => true }) do |f| %>
  <p>Exam Name:<br>
  <%= f.text_field :name %></p>

  <p>Description:<br>
  <%= f.text_area :description %></p>

  <p> <%= f.collection_select(:category_id, Category.all, :id, :name)%></p>
  <%= f.submit "Update Exam", :class => "btn" %>
<% end %><br><br>

<%= link_to 'Show Exam', @exam %> |
<%= link_to 'All Exams', exams_path %>
</div>
