<a href="/categories">View Categories</a>&nbsp;&nbsp;|&nbsp;
<a href="/terms">View Terms</a>

<div class="display">
<h1>Listing exams</h1>

<table>
  <tr>
    <th>Exam</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.name %></td>
    <td><%= exam.category.name %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br><br>

<%= link_to 'Add New Exam', new_exam_path %>
</div>
