<div class="form">
<p id="notice"><%= notice %></p>
<h1><%= @exam.name %></h1>
<h4 class="subtitle"><%= @exam.category.name %></h4>

<h4>Terms:</h4>
<% @exam.terms.all.each do |t| %>
<%= t.word %><br>
<%end%><br><br>

<%= link_to 'Edit Exam', edit_exam_path(@exam) %> |
<%= link_to 'All Exams', exams_path %> | 
<%= link_to 'Add Existing Term', terms_path %> | 
<%= link_to 'Add New Term', new_term_path %>
</div>
